.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-brand {
    background-color: cadetblue;
    font-size: 28px;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 30px;
    color: white;
}
.navbar-light .navbar-brand {
    color: white;
}

@media (max-width : 767px) {
    .navbar {
    background: cadetblue;
    }
    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 20px;
    }
  .navbar div {
      background-color: white;
  }
}

h1 {
    font-size: 40px;
    color: cadetblue;
    /*margin-left: 5px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
}

p {
    /*margin-left: 5px;*/
}
.table {
    margin-left: 10px;
    padding-left: 20px;
}