h1 {
    font-size: 40px;
    margin-left: auto;
    color: cadetblue;
}

p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;  
}

#image {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.combined {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#mainbutton {
    background-color: cadetblue;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-brand {
    background-color: cadetblue;
    font-size: 28px;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 30px;
    color: white;
}
.navbar-light .navbar-brand {
    color: white;
}

@media (max-width : 767px) {
    .navbar {
    background: cadetblue;
    }
    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 20px;
    }
  .navbar div {
      background-color: white;
  }
}


h3 {
    text-align: center;
    color: cadetblue;
}